<div class="col-md-12">
  <div class="task">
    <%= link_to("Edit", edit_task_path(@task), class: "btn btn-primary pull-right")%>
    <%= link_to("Note", new_task_note_path(@task), class: "btn btn-default pull-right")%>
  </div>
  <h2><%= @task.title %></h2>
  <p><%= @task.description %></p>

     <table class="table">
     <thead>
      <tr>
         <th>文章内容</th>
         <th>发表者</th>
         <th>发表时间</th>
       </tr>
     </thead>
     <tbody>
       <% @notes.each do |note| %>
         <tr>
           <td><%= note.content %></td>
           <td><%= note.user.email %></td>
           <td><%= note.created_at %></td>
         </tr>
       <% end %>
     </tbody>
   </table>


</div>
